.resume {
    display: flex;
    flex-direction: column;
    width: clamp(320px, 50vw, 850px);
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    position: sticky;
    top: 30px;
}

.generalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

h1, h2, p, ul, hr {
    margin: 0;
}

section>h2 {
    margin-top: 10px;
}

.contactInfo {
    display: flex;
    gap: 8px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bold {
    font-weight: 600;
}

.education, .projects, .work-experience, .skills {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info {
    display: flex;
    justify-content: space-between;
}

