@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(../assets/Ubuntu-Regular.ttf);
}

:root, button, input {
    font-family: Ubuntu-Regular, Roboto-Regular;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#root>header {
  background: linear-gradient(
    to right,
    rgb(61, 105, 228) 0%,
    rgb(111, 135, 214) 50%,
    rgb(61, 105, 228) 100%
  );
  min-height: 60px;
}

main {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    height: 100%;
    flex: 1;
    background: linear-gradient(
        to right,
        rgb(151, 192, 241) 0%,
        rgb(201, 209, 219) 50%,
        rgb(151, 192, 241) 100%
    );
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-funcs {
    display: flex;
    gap: 10px;
    align-items: center;
}

header>.title {
    color: white;
}

#iconBtn {
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBtn {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    background: linear-gradient(
        to right,
        rgb(235, 228, 228) 0%,
        rgb(201, 189, 189) 100%
    );
    transition: transform 0.2s;
}

.headerBtn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#iconBtn img {
    height: 28px;
    width: 28px;
}

#iconBtn img:hover {
    animation: continuous-rotation 3s linear infinite;
    cursor: pointer;
}

@keyframes continuous-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}